/* * {
  margin: 0;
  padding: 0;
} */

.rowDesign {
  background-color: rgb(179, 240, 243);
  width: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

h3 {
  padding: 5px;
}

svg {
  width: 20px;
  cursor: pointer;
}

.input {
  background-color: rgb(179, 240, 243);
  width: 400px;
  margin: 20px auto;
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

input:nth-child(1) {
  flex: 1;
}

input:nth-child(2) {
  background-color: rgb(38, 116, 235);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: wheat;
}

input {
  padding: 5px;
}

.loading {
  width: 400px;
  margin: 20px auto;
}